<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luhelpmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LUHelpMate">
        <activity android:name=".Notice.EditNotice"></activity>
        <activity android:name=".Menu.EditProfileTeacher" />
        <activity
            android:name=".Menu.EditProfileStudent"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu.Menu" />
        </activity>
        <activity
            android:name=".Routine.EditRoutineActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Routine.RoutineActivity" />
        </activity>
        <activity
            android:name=".CourseOfferings.EditCourseOfferings"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseOfferings.CourseOfferingsActivity" />
        </activity>
        <activity
            android:name=".TimeSlot.TimeSlotActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu.Menu" />
        </activity>
        <activity
            android:name=".CourseOfferings.CourseOfferingsActivity"
            android:label="Course Offerings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Slider.AddSliderImage"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Slider.SliderImagesActivity" />
        </activity>
        <activity
            android:name=".Slider.SliderImagesActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu.Menu" />
        </activity>
        <activity
            android:name=".Advisor.AdvisorEditActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Advisor.AdvisorList" />
        </activity>
        <activity
            android:name=".Advisor.AddAdvisor"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Advisor.AdvisorList" />
        </activity>
        <activity
            android:name=".Advisor.AdvisorList"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu.Menu" />
        </activity>
        <activity
            android:name=".CourseList.EditCourseList"
            android:label="Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseList.CourseList" />
        </activity>
        <activity
            android:name=".Question.EditQuestion"
            android:label="Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Question.PreviousQuestionsActivity" />
        </activity>
        <activity
            android:name=".Book.EditBook"
            android:label="Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Book.BookActivityAdmin" />
        </activity>
        <activity
            android:name=".Question.AddPreviousQuestions"
            android:label="Add Question">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Question.PreviousQuestionsActivity" />
        </activity>
        <activity
            android:name=".Question.PreviousQuestionsActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".Menu.UserInfoActivity" />
        <activity
            android:name=".Menu.Menu"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Login.ProvideInfo"
            android:label="" />
        <activity
            android:name=".PdfViewerActivity"
            android:label="" />
        <activity
            android:name=".Book.AddBookActivityAdmin"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Book.BookActivityAdmin" />
        </activity>
        <activity
            android:name=".Admin.ForgetPassword"
            android:label="Find Your Account" />
        <activity
            android:name=".ImageViewActivity"
            android:label="" />
        <activity
            android:name=".Batch.BatchListUser"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu.Menu" />
        </activity>
        <activity
            android:name=".Routine.RoutineActivity"
            android:label="Class Routine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Book.BookActivityAdmin"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Notice.AddNoticeActivity"
            android:label="Add Notice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notice.NoticeActivity" />
        </activity>
        <activity
            android:name=".Notice.NoticeActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".CourseList.CourseList"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".CourseList.AddCourseActivity"
            android:label="Add New Course">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseList.CourseList" />
        </activity>
        <activity
            android:name=".Batch.BatchListActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu.Menu" />
        </activity>
        <activity
            android:name=".Routine.Make_Routine"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Routine.RoutineActivity" />
        </activity>
        <activity
            android:name=".CR.CrEditActivity"
            android:hardwareAccelerated="false"
            android:label="Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CR.CrActivityAdmin" />
        </activity>
        <activity
            android:name=".CR.AddCrActivity"
            android:hardwareAccelerated="false"
            android:label="Add New CR">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CR.CrActivityAdmin" />
        </activity>
        <activity
            android:name=".CR.CrActivityAdmin"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Faculty.FacultyEditActivity"
            android:hardwareAccelerated="false"
            android:label="Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Faculty.FacultyActivity" />
        </activity>
        <activity
            android:name=".Faculty.AddFacultyActivity"
            android:hardwareAccelerated="false"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Faculty.FacultyActivity" />
        </activity>
        <activity
            android:name=".Faculty.FacultyActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".CourseOfferings.OfferCourse"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseOfferings.CourseOfferingsActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/lu" />
        <activity android:name=".Login.MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

    </application>

</manifest>